<!DOCTYPE html>
<html>
  <head>
    <title><HOLA></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><HOLA></h1>
    <p>Welcome to </p>
    <p> vamos a poner algo de esto </p>
    
    <!-- <img src="<%=ruta+lista[0].foto%>"></img> -->

    
    
    <%= lista[0].name %>
     <%= lista[1].name %>
      <% for(var i=0; i < lista.length; i++) { %>
   
     <p><%= lista[i].id %></p>
     <img src="<%=ruta+lista[0].foto%>"></img>
   
<% } %>

  </body>
</html>
